<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" href="/../style.css">
    <title> Home page !!</title>
  </head>
  <body>
  <nav>
    <ul class="nav-bar">
      <li><a href="/">Home </a></li>
      <li><a href="/dinosaurs">All Dino </a></li>
      <li><a href="/dinosaurs/new">New Dino</a></li>
      <li><a href="/cryptids">All Cryptids </a></li>
      <li><a href="/cryptids/new">New Cryptid</a></li>
    </ul>
  </nav>
    <%- body %>
  </body>
</html>
