<h1>New page</h1>

<form  action="/cryptids" method="POST">
  <label for="cryptid-name">Name </label>
  <input type="text" name="name" id="cryptid-name">
 <label for="cryptid-img">Link image </label>
 <input type="text" name="img_url" id="cryptid-type">
 <input type="submit" value="Add that cryptid" >
</form>
