<h1>New page</h1>

<form  action="/dinosaurs" method="POST">
  <label for="dino-name">Name </label>
  <input type="text" name="name" id="dino-name">
 <label for="dino-type">Type </label>
 <input type="text" name="type" id="dino-type">
 <input type="submit" value="Add that dino" >
</form>
