<h1>Look at <%= myDino.name %>! It is a <%= myDino.type %></h1>
<form method="post" action="/dinosaurs/<%= dinoIndex %>/?_method=DELETE" >
 <input type="submit" value="Delete">
</form>
<a href="/dinosaurs/edit/<%= dinoIndex %>">Edit</a>
